<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.unihire">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UniHire">
        <activity
            android:name=".Applicant_Edit_Profile"
            android:exported="false" />
        <activity
            android:name=".DraftJobsList"
            android:exported="false" />
        <activity
            android:name=".ApplicantHomePage"
            android:exported="false"
            android:label="@string/title_activity_applicant_home_page" />
        <activity
            android:name=".PostJobForm"
            android:exported="false" />
        <activity
            android:name=".RecruiterHomePage"
            android:exported="false"
            android:label="@string/title_activity_recruiter_home_page" />
        <activity
            android:name=".ApplicantLogin"
            android:exported="false" />
        <activity
            android:name=".ApplicantRegistration"
            android:exported="false" />
        <activity
            android:name=".ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".RecruiterLogin"
            android:exported="false" />
        <activity
            android:name=".RecruiterRegistration"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>